
h1{
    background-color: aquamarine;
    color: red;
    font-family: cursive;
}

h2{
    background-color: black;
    color: white;
    font-size: 50px;
}

p{
    font-family: poppins;
}

#logo{
    width: 25px;
}